/*
--- 01 Typography system ---
- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
- Font weights:
Default: 400

- Line height:
Default: 1

--- 02 Color ---
- Primary: #e67e22
- Tints:
- Shades:
- Accent:
- Greys: #555

--- 03 Shadows ---
--- 04 Boarder-radius ---
--- 05 Spacing system (px)---
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* 10px / 16px = 62.5%*/

html {
  /*default is 16px*/
  /* percentage of user's browser font-size setting*/
  font-size: 62.5%; /*10px*/
}

body {
  font-family: sans-serif;
  color: #555;
  line-height: 1;
  font-weight: 400;
}
.hero {
  max-width: 130rem;
  margin: 0 auto;
  padding: 0 3.2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 9.6rem;
  align-items: center;
}

.hero-description {
  font-size: 2rem;
  line-height: 1.6;
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}
